@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <!-- Diğer HTML içeriğiniz buraya gelebilir -->
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-8-offset-2">
        <div class="alert alert-info">Bağlantının Durumu: <strong id="constatus"></strong></div>
    </div>
    <div class="col-md-8-offset-2">
        <div class="alert alert-danger">Araba Sayısı: <strong id="carcount"></strong></div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(() => {
            var connection = new signalR.HubConnectionBuilder().withUrl("https://localhost:7026/CarHub").build(); // Relative URL kullanıldı
            $("#constatus").text(connection.state);

            connection.start().then(() => {
                $("#constatus").text(connection.state);
                setInterval(() => {
                    connection.invoke("SendCarCount").catch(err => console.error(err));
                }, 1000);
                connection.invoke("SendCarCount").catch(err => console.error(err));
            }).catch((err) => { console.log(err) });

            connection.on("ReceiveCarCount", (value) => {
                $("#carcount").text(value);
            });
        });
    </script>
}
